// Import Partial
@import '../partials/clearfix';
@import '../partials/reset';

// Create Main Variable
$main-font : 'Source Sans Pro',
sans-serif;
$main-color : #0c005a;
$secondary-color : #ff0000;
$ambient-color : #bc2525;
$bright-color : #FFFFFF;
$dark-color : #000000;